@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Layout */

body {
    background-color: #1f1f1f;
}

body i {
    font-family: 'FontAwesome';
}

input[type='text'],
input[type='number'],
input[type='password'],
input[type='email'] {
    transition: all 0.25s ease-in-out;
    outline: none;
    border: 2px solid #dddddd;
}

input[type='text']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='email']:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 2px solid #00aaff;
}

.highlight {
    color: #00aaff;
}

/* List Styling */
.watched-list {
    margin: 0 auto 5rem auto;
    width: 80%;
    border: 1px solid #0e0e0e;
    -webkit-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.5);
}

.watched-list-title {
    font-size: 2.25rem;
}

.Collapsible {
    font-size: 2.5rem;
    text-align: center;
    background-color: #282828;
    border: 1px solid #0e0e0e;
}

.Collapsible__trigger {
    display: block;
    cursor: pointer;
    color: #fff;
    padding: 1rem;
}

.Collapsible__trigger:hover {
    color: #00aaff;
}

.Collapsible__trigger.is-open {
    color: #00aaff;
}

.Collapsible__contentInner {
    background-color: #383838;
    color: #fff;
    font-size: 1.75rem;
}

.list-form {
    display: flex;
}

.list-form input[type='number'] {
    text-align: center;
}

.list-form input[type='text'] {
    flex: 8;
    padding: 0.25rem;
    font-size: 1.5rem;
}

.list-form input[type='number'] {
    flex: 1;
    padding: 0.25rem;
    font-size: 1.5rem;
}

.list-form button {
    flex: 2;
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    border: none;
    border-radius: 3px;
    background-color: #5cb85c;
}

.list-form button:hover {
    background-color: #50a050;
    color: #00aaff;
}

ul li {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.edit-icon {
    margin-right: 1rem;
    cursor: pointer;
    color: #f0ad4e;
}

.edit-icon:hover {
    color: #cc9343;
}

.delete-icon {
    cursor: pointer;
    color: #d9534f;
}

.delete-icon:hover {
    color: #af4440;
}

.current-edit {
    padding: 0.25rem;
    background-color: #4e4e4e;
    border: 1px solid #2e2e2e;
}

.shows-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

/* Navbar */
nav {
    height: 4rem;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #0e0e0e;
    -webkit-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.5);
}

nav h1 {
    color: #fff;
    font-size: 2.5rem;
}

nav h1 span {
    color: #00aaff;
}

nav i {
    color: #00aaff;
    margin: 0 1rem;
}

nav img {
    height: 3rem;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    font-size: 1.5rem;
    text-transform: uppercase;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
}

nav ul li a:hover {
    color: #00aaff;
}

/* Search Bar  */
.search-bar {
    margin: 3rem auto 3rem auto;
    display: block;
    width: 70%;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    padding: 0.25rem;
}

/* Register & Login */
.form-container {
    width: 60vw;
    margin: 5rem auto;
    text-align: center;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: #282828;
    border: 1px solid #0e0e0e;
    -webkit-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.5);
}

.form-container h1 {
    font-size: 3rem;
    color: #fff;
}

.flex-form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.flex-form.login-form {
    margin: 3rem;
}

.form-group label {
    display: block;
    font-size: 2rem;
    color: #fff;
}

.form-group input[type='text'],
.form-group input[type='email'],
.form-group input[type='password'] {
    margin: 0.5rem 0;
    width: 50%;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 0.25rem;
}

.form-group input[type='submit'] {
    font-size: 1.5rem;
    padding: 0.5rem 0.75rem;
    margin-top: 1rem;
    background-color: #00aaff;
    border: none;
    color: #fff;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    border: 2px solid #00aaff;
}

.form-group input[type='submit']:hover {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    cursor: pointer;
}
