@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1f1f1f;
}

body i {
    font-family: 'FontAwesome';
}

/* List Styling */
.watched-list {
    margin: 0 auto;
    width: 80%;
    border: 1px solid #0e0e0e;
}

.Collapsible {
    font-size: 2.5rem;
    text-align: center;
    background-color: #282828;
}

.Collapsible__trigger {
    margin: 0;
    padding: 0 40%;
    cursor: pointer;
    color: #fff;
}

.Collapsible__contentInner {
    background-color: #383838;
    color: #fff;
    font-size: 2rem;
}

.list-form {
    display: flex;
    border: 1px solid #0e0e0e;
}

.list-form input[type='text'] {
    flex: 8;
    padding: 0.25rem;
    font-size: 1.5rem;
}

.list-form input[type='submit'] {
    flex: 1;
    cursor: pointer;
    font-size: 1.5rem;
    border: none;
    border-radius: 3px;
    background-color: #5cb85c;
}

.list-form input[type='number'] {
    flex: 1;
    padding: 0.25rem;
    font-size: 1.5rem;
}

.list-form button {
    flex: 2;
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    border: none;
    border-radius: 3px;
    background-color: #5cb85c;
}

ul li {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.edit-icon {
    margin-right: 1rem;
    cursor: pointer;
    color: #f0ad4e;
}

.delete-icon {
    cursor: pointer;
    color: #d9534f;
}

.current-edit {
    padding: 0.25rem;
    background-color: #4e4e4e;
    border: 1px solid #2e2e2e;
}

.tvshows-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}
