@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1f1f1f;
}

body i {
    font-family: 'FontAwesome';
}

/* List Styling */
.watched-list {
    margin: 0 auto;
    width: 80%;
    border: 1px solid #0e0e0e;
}

.Collapsible {
    font-size: 3rem;
    text-align: center;
    background-color: #282828;
}

.Collapsible__trigger {
    margin: 0;
    padding: 0 40%;
    cursor: pointer;
}

.Collapsible__contentInner {
    background-color: #383838;
    color: #fff;
    font-size: 2rem;
}

#movieForm {
    display: flex;
    border: 1px solid #0e0e0e;
}

.list-form input[type='text'] {
    width: 80%;
    display: block;
    padding: 0.25rem;
    font-size: 1.5rem;
}

.list-form input[type='submit'] {
    width: 20%;
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    border: none;
    border-radius: 3px;
    background-color: #4bca81;
}

ul li {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.edit-icon {
    margin-right: 1rem;
    cursor: pointer;
}

.delete-icon {
    cursor: pointer;
}
